
a, a:visited {
    color: #66b2b2;
}

a:hover {
    color: #cccccc;
}

.navbar-brand {
    background-color:#66b2b2;
    color: #ffffff;
}

.wrapper {

    background-color: #ffffff;
}

.sectionheading {
    border-bottom: 3px solid #cccccc;
    color: #66b2b2;
}

.card-text {
    color:#ffffff;
    background-color: #4aaaa5;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;

}

